id_rsa
#/Makefile
#/bin/
#build
#include
#lib
#sqlite
#examples/ca/CA.pl
#.vscode

# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------